In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('WhatsgoodlyData-6.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1450 non-null   int64
 1   Question             1450 non-null   object
 2   Segment Type         1450 non-null   object
 3   Segment Description  1450 non-null   object
 4   Answer               1160 non-null   object
 5   Count                1450 non-null   int64
 6   Percentage           1450 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 79.4+ KB

In [10]:
# df=df.drop(['index','Question'],axis=1)
df['Answer'].fillna('missing_value',inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10044\814738141.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Answer'].fillna('missing_value',inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment Type         1450 non-null   object
 1   Segment Description  1450 non-null   object
 2   Answer               1450 non-null   object
 3   Count                1450 non-null   int64
 4   Percentage           1450 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 56.8+ KB

In [18]:
df.rename({"Segment_Type":'Segment_Type',"Segment Description":'Segment_Description'},axis=1,inplace=True)
df

,Segment_Type,Segment_Description,Answer,Count,Percentage
0,Mobile,Global results,Facebook,548,0.205
1,Mobile,Global results,Instagram,916,0.342
2,Mobile,Global results,Snapchat,86,0.032
3,Mobile,Global results,Twitter,179,0.067
4,Mobile,Global results,missing_value,947,0.354
...,...,...,...,...,...
1445,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,Custom,Sexual orientation? Straight,missing_value,492,0.412

In [19]:
df['Segment_Type'].value_counts()

Segment_Type
University    870
Custom        560
Gender         10
Mobile          5
Web             5
Name: count, dtype: int64

In [20]:
df['Segment_Description'].value_counts()

Segment_Description
What's your major? Other                     10
Web                                           5
I'm in? Post-grad                             5
have a job? No, but I'm searching for one     5
Mac or PC? PC ðŸ’»                               5
                                             ..
University of Memphis                         5
Auburn University                             5
Randolph-Macon College                        5
Wisconsin HS                                  5
What's your major? Comp sci                   5
Name: count, Length: 289, dtype: int64